In [4]:
# 1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla
x = 2
print(x)

2

In [5]:
# 2) Imprimir el tipo de dato de la constante 8.5
type(8.5)

float

In [6]:
# 3) Imprimir el tipo de dato de la variable creada en el punto 1
type(x)

int

In [ ]:
# 4) Crear una variable que contenga tu nombre
name = "tomas"

In [9]:
# 5) Crear una variable que contenga un número complejo
c = 2 + 5j

complex

In [10]:
# 6) Mostrar el tipo de dato de la variable crada en el punto 5
type(c)

complex

In [11]:
# 7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales
pi = 3.1415
print(pi)

3.1415

In [13]:
# 8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?
var1 = 'True'
var2 = True
# No son lo mismo, la variable s es un string mientras que la variable b es un booleano

In [14]:
# 9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 9
print('el tipo de la variable var1 es: ', type(var1),'y el tipo de la variable var2 es: ', type(var2))

el tipo de la variable var1 es:  <class 'str'> y el tipo de la variable var2 es:  <class 'bool'>

In [15]:
# 10) Asignar a una variable, la suma de un número entero y otro decimal
suma = 5 + 2.04

In [17]:
# 11) Realizar una operación de suma de números complejos
num1 = 2 + 4j
num2 = 1 + 2j
print(num1 + num2)

(3+6j)

In [18]:
# 12) Realizar una operación de suma de un número real y otro complejo
a = 2
b = 3 - 45j
print(a + b)

(5-45j)

In [20]:
# 13) Realizar una operación de multiplicación
print(a * suma)

14.08

In [21]:
# 14) Mostrar el resultado de elevar 2 a la octava potencia
print(2**8)

256

In [22]:
# 15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla
coc =  27 / 4
print(coc)

6.75

In [23]:
# 16) De la división anterior solamente mostrar la parte entera
print(27//4)

6

In [24]:
# 17) De la división de 27 entre 4 mostrar solamente el resto
print(27%4)

3

In [25]:
# 18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado
print(4*(27//4) + (27%4))

27

In [27]:
# 19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas
alf1 = 'Tomas '
alf2 = 'Mejia'
print(alf1 + alf2)

Tomas Mejia

In [28]:
# 20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?
'2' == 2

False

In [29]:
# 21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera
int('2') == 2

True

In [32]:
# 22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')
a = float('3,8')
# Porque se utiliza '.' y no ',' para denotar un float

ValueError: could not convert string to float: '3,8'

In [34]:
# 23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido
var3 = 3
var3 -= 2
print(var3)

1

In [36]:
# 24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?
1 << 2

4

In [37]:
# 25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?
2 + '2'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [38]:
# 26) Realizar una operación válida entre valores de tipo entero y string
str = 'hola'
y = 4
print(str * 4)

holaholaholahola